<!DOCTYPE html>
<html>
  <head>
    <meta
      name="viewport"
      content="width=device-width,height=device-height, user-scalable=no,initial-scale=1, minimum-scale=1, maximum-scale=1,target-densitydpi=device-dpi "
    />
    <meta charset="UTF-8" />

    <title>健康症状自检表</title>
    <!-- 引入样式 -->
    <!-- <link
      rel="stylesheet"
      href="https://unpkg.com/element-ui/lib/theme-chalk/index.css"
    /> -->
    <link rel="stylesheet" href="css/index.css" />

    <!-- 引入组件库 -->
  </head>
  <body>
    <div class="app" id="app">
      <el-container v-if="!hasEntryId">
        <el-header>
          <el-row>
            <el-col :span="24" class="title">自检系统</el-col>
          </el-row>
        </el-header>
        <el-row>
          <el-divider><i class="el-icon-s-order"></i></el-divider>
        </el-row>
        <div>使用本系统请先联系管理员</div>
      </el-container>
      <el-container v-if="hasEntryId">
        <el-header>
          <el-row>
            <el-col :span="24" class="title">自检系统</el-col>
          </el-row>
          <el-row>
            <el-col :span="24" class="subTitle">{{title}}</el-col>
          </el-row>
          <el-row>
            <el-divider><i class="el-icon-s-order"></i></el-divider>
          </el-row>
        </el-header>
        <el-main class="form">
          <el-form
            :model="form"
            :rules="rules"
            ref="form"
            inline
            class="demo-form"
            v-loading="getDataLoading"
            element-loading-text="加载中,等待3-10秒..."
            element-loading-spinner="el-icon-loading"
            element-loading-background="rgba(0, 0, 0, 0.7)"
          >
            <el-form-item class="item" label="" prop="name">
              <el-input
                class="textInput"
                placeholder="姓名.必填"
                v-model="form.name"
              ></el-input>
            </el-form-item>
            <el-form-item class="item" label="" prop="phone">
              <el-input
                class="textInput"
                v-model="form.phone"
                placeholder="ID.必填"
              ></el-input>
            </el-form-item>
            <el-form-item class="fill" label="" prop="address">
              <el-input
                class="textInput"
                type="textarea"
                placeholder="地址"
                v-model="form.address"
              ></el-input>
            </el-form-item>

            <el-form-item class="item" label="" prop="gender">
              <el-radio-group v-model="form.gender">
                <el-radio label="1">男</el-radio>
                <el-radio label="0">女</el-radio>
              </el-radio-group>
            </el-form-item>
            <el-form-item class="item" label="" prop="age">
              <el-input
                class="textInput"
                v-model="form.age"
                placeholder="年龄"
              ></el-input>
            </el-form-item>
            <el-form-item class="item" label="" prop="height">
              <el-input
                class="textInput"
                v-model="form.height"
                placeholder="身高cm"
              ></el-input>
            </el-form-item>
            <el-form-item class="item" label="" prop="weight">
              <el-input
                class="textInput"
                v-model="form.weight"
                placeholder="体重kg"
              ></el-input>
            </el-form-item>
            <el-form-item class="item" label="" prop="waistline">
              <el-input
                class="textInput"
                v-model="form.waistline"
                placeholder="腰围cm"
              ></el-input>
            </el-form-item>
            <el-form-item class="item" label="" prop="systolic_pressure">
              <el-input
                class="textInput"
                v-model="form.systolic_pressure"
                placeholder="收缩压mmHg"
              ></el-input>
            </el-form-item>
            <el-form-item class="item" label="" prop="diastolic_pressure">
              <el-input
                class="textInput"
                v-model="form.diastolic_pressure"
                placeholder="舒张压mmHg"
              ></el-input>
            </el-form-item>
            <el-form-item class="item" label="" prop="blood_sugar">
              <el-input
                class="textInput"
                v-model="form.blood_sugar"
                placeholder="血糖mmol/L"
              ></el-input>
            </el-form-item>
            <el-form-item
              v-if="category===3"
              class="fill"
              label="症状"
              prop="entry_Ids"
            >
              <el-checkbox-group
                v-model="form.entry_Ids"
                @change="handleCheckedChange"
                class="checkbox"
              >
                <el-row v-for="item in checkList">
                  <el-checkbox :label="item.id" :key="item.id"
                    >{{item.title}}</el-checkbox
                  >
                  <el-divider content-position="right"
                    ><i class="el-icon-s-promotion"></i
                  ></el-divider>
                </el-row>
              </el-checkbox-group>
            </el-form-item>

            <el-form-item
              v-if="category===6"
              class="fill"
              label="症状"
              prop="entry_Ids"
            >
              <el-tree
                show-checkbox
                node-key="id"
                :data="collectionList"
                :props="defaultProps"
                @check="handleNodeCheck"
              ></el-tree>
            </el-form-item>
            <el-form-item class="fill" label="" prop="remark">
              <el-alert
                :title="'您共选择了'+entryNum+'个症状'"
                type="success"
                :closable="false"
              >
              </el-alert>
            </el-form-item>
            <el-form-item class="fill" label="" prop="remark">
              <el-input
                class="textInput"
                placeholder="其他症状|手术史|疾病（最难受、最想调的症状和最难改、最想改的习惯）"
                type="textarea"
                v-model="form.remark"
              ></el-input>
            </el-form-item>

            <el-form-item>
              <el-button
                type="primary"
                @click="submitForm('form')"
                :loading="loading"
                >提交</el-button
              >
              <el-button @click="resetForm('form')">重置</el-button>
            </el-form-item>
          </el-form>
          <!-- <el-backtop target=".el-main" :bottom="100"></el-backtop> -->
        </el-main>
      </el-container>
    </div>
  </body>
  <!-- import Vue before Element -->
  <script src="js/vue.js"></script>
  <!-- import JavaScript -->
  <script src="js/index.js"></script>
  <!-- import JavaScript -->
  <script type="text/javascript" src="js/browser.min.js"></script>
  <script type="text/javascript" src="js/polyfill.min.js"></script>
  <script type="text/babel">
    let that;
    new Vue({
      el: "#app",
      data: {
        defaultProps: {
          children: "checkList",
          label: "title",
        },
        hasEntryId: false,
        entry_info: 0,
        title: "",
        category: 3,
        entryNum: "0",
        loading: false,
        getDataLoading: false,
        checkList: [],

        // backUrl: "https://hh.jkgl.cc/",
        backUrl: "https://cjsq.net/api/",
        // backUrl: "http://127.0.0.1:8000/",
        // frontUrl: "https://u.jkgl.cc/",
        frontUrl: "https://cjsq.net/f/",
        collectionList: [],
        form: {
          name: "",
          phone: "",
          address: "",
          gender: "1",
          age: "",
          height: "",
          weight: "",
          waistline: "",
          systolic_pressure: "",
          diastolic_pressure: "",
          blood_sugar: "",
          entry_Ids: [],
          remark: "",
        },
        rules: {
          name: [{ required: true, message: "请输入姓名", trigger: "change" }],
          phone: [{ required: true, message: "请输入ID", trigger: "change" }],
          gender: [
            { required: true, message: "请输入性别", trigger: "change" },
          ],
          entry_Ids: [
            { required: true, message: "请选择症状", trigger: "change" },
          ],
        },
      },
      created() {},
      mounted() {
        that = this;
        const reg = new RegExp("(^|&)" + "id" + "=([^&]*)(&|$)"); //构造一个含有目标参数的正则表达式对象
        const r = window.location.search.substr(1).match(reg); //匹配目标参数
        let id = 1;
        if (r) {
          id = decodeURI(r[2]);
          that.entry_info = id;
          that.hasEntryId = true;
        } else {
          return;
          // this.$message({
          //   showClose: true,
          //   message: "错误，请用复制或者转发的连接进入本页面",
          //   type: "error"
          // });
        }
        that.getDataLoading = true;
        this.ajax({
          url: `${that.backUrl}entryInfo/${id}/`,
          type: "GET",
          dataType: "json",
          data: "",
          success: function (response, xml) {
            that.getDataLoading = false;
            if (response.data.category.id === 6) {
              that.category = 6;
              let collectionObj = {};
              let collectionList = [];
              let preTitle = "";
              let pushIndex = null;
              response.data.entrys.forEach((item, index) => {
                const titleArray = item.title.split("|");
                const title = titleArray[0];
                item.title = titleArray[1];
                if (title !== preTitle) {
                  if (preTitle !== "") {
                    collectionList.push({ ...collectionObj });
                  }
                  collectionObj.title = title;
                  collectionObj.checkList = [item];
                  preTitle = title;
                } else {
                  collectionObj.checkList.push(item);
                }
                if (index === response.data.entrys.length - 1) {
                  collectionList.push({ ...collectionObj });
                }
              });
              that.collectionList = collectionList;
              that.title = response.data.title.title_name;
            } else {
              that.title = response.data.title.title_name;
              that.checkList = response.data.entrys;
            }
          },
          error: function (status) {
            //失败后执行的代码
          },
        });

        // that.category = 6;
        // let collectionObj = {};
        // let collectionList = [];
        // let preTitle = "";
        // let pushIndex = null;
        // that.checkList.forEach((item, index) => {
        //   console.log("index: ", index);
        //   const titleArray = item.title.split("|");
        //   const title = titleArray[0];
        //   item.title = titleArray[1];

        //   if (title !== preTitle) {
        //     if (preTitle !== "") {
        //       collectionList.push({ ...collectionObj });
        //     }
        //     collectionObj.title = title;
        //     collectionObj.checkList = [item];
        //     preTitle = title;
        //   } else {
        //     collectionObj.checkList.push(item);
        //   }
        //   if (index === that.checkList.length - 1) {
        //     collectionList.push({ ...collectionObj });
        //   }
        // });
        // that.collectionList = collectionList;
      },
      methods: {
        handleNodeCheck(_data, checkedInfo) {
          const checkedKeys = checkedInfo.checkedKeys.filter((item) => {
            return item !== undefined;
          });
          that.form.entry_Ids = checkedKeys;
          that.entryNum = checkedKeys.length;
        },
        handleCheckedChange(value) {
          that.entryNum = value.length;
        },
        submitForm(formName) {
          this.$refs[formName].validate((valid, err) => {
            if (that.entry_info === 0) {
              this.$message({
                showClose: true,
                message: "错误，请用复制或者转发的连接进入本页面",
                type: "error",
              });
              return;
            }
            if (!valid) {
              this.$message({
                showClose: true,
                message: Object.values(err)[0][0].message,

                type: "error",
              });

              return;
            }
            if (that.form.entry_Ids && that.form.entry_Ids.length < 3) {
              this.$message({
                showClose: true,
                message: "您不到3个症状，非常健康！",
                type: "success",
              });
              return;
            }
            that.form.entry_info = that.entry_info;
            that.loading = true;
            that.ajax({
              url: `${that.backUrl}userEntry/`,
              type: "POST",
              dataType: "json",
              data: JSON.stringify(that.form),
              success: function (response, xml) {
                if (response) {
                  if (response.code === 201 && response.success) {
                    window.location.replace(
                      `${that.frontUrl}#/dashboard/success?num=` + that.entryNum
                    );
                  } else {
                    that.$message({
                      showClose: true,
                      message: response.message,
                      type: "error",
                    });
                  }
                  that.loading = false;
                }
                //请求成功后执行的代码
              },
              error: function (status) {
                //失败后执行的代码
              },
            });
          });
        },
        resetForm(formName) {
          this.$confirm("此操作将表单为空, 是否继续?", "提示", {
            confirmButtonText: "确定",
            cancelButtonText: "取消",
            type: "warning",
          })
            .then(() => {
              this.$refs[formName].resetFields();
            })
            .catch(() => {});
        },
        ajax: function (options) {
          options.type = (options.type || "GET").toUpperCase();
          options.dataType = options.dataType || "json";
          let params = options.data;

          //创建-第一步
          var xhr;
          //非IE6
          if (window.XMLHttpRequest) {
            xhr = new XMLHttpRequest();
          } else {
            //ie6及其以下版本浏览器
            xhr = ActiveXObject("Microsoft.XMLHTTP");
          }
          //接收-第三步
          xhr.onreadystatechange = function () {
            if (xhr.readyState == 4) {
              var status = xhr.status;
              if (status >= 200 && status < 300) {
                options.success &&
                  options.success(
                    JSON.parse(xhr.responseText),
                    xhr.responseXML
                  );
              } else {
                options.error && options.error(status);
              }
            }
          };

          //连接和发送-第二步
          if (options.type == "GET") {
            xhr.open("GET", options.url + "?" + params, true);
            xhr.send(null);
          } else if (options.type == "POST") {
            xhr.open("POST", options.url, true);
            //设置表单提交时的内容类型
            xhr.setRequestHeader(
              "Content-type",
              "application/json; charset=utf-8"
            );
            xhr.send(params);
          }
        },
      },
    });
  </script>

  <style>
    html {
      height: 100%;
      overflow: hidden;
      width: 100%;
    }
    body {
      height: 100%;
      display: flex;
      overflow: hidden;
      width: 100%;
    }
    .app {
      height: 100%;
      display: flex;
      flex: auto;
      overflow: hidden;
      width: 100%;
    }
    .el-container {
      flex-direction: column;
      align-items: center;
      width: 100%;
    }
    .main {
      height: 100%;
      overflow: auto;
      width: 100%;
    }
    .title {
      text-align: center;
      font-size: 30px;
    }
    .subTitle {
      text-align: center;
      font-size: 18px;
      color: #aaa;
    }
    .textInput {
      font-size: 16px;
    }
    .form {
      margin-top: 50px;
      width: 100%;
    }
    .demo-form {
      width: 100%;
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
    }
    .demo-form .item {
      width: 49.5%;
      margin-right: 0;
    }
    .demo-form .fill {
      margin-right: 0;
      width: 100%;
    }
    .demo-form .el-form-item__content {
      width: 100%;
    }
    .demo-form .el-form-item__label {
      font-size: 18px;
    }
    .demo-form .checkbox .el-checkbox {
      width: 100%;
    }
    .demo-form .el-checkbox__inner {
      width: 25px;
      height: 25px;
    }
    .demo-form .el-checkbox__label {
      font-size: 18px;
    }
    .demo-form .el-checkbox__inner::after {
      top: 3px;
      left: 8px;
      height: 14px;
      width: 6px;
    }
    .el-checkbox__input.is-indeterminate .el-checkbox__inner::before {
      top: 10px;
    }
    .demo-form .el-radio__label {
      font-size: 18px;
    }

    .el-tree-node__content > .el-tree-node__expand-icon {
      padding: 15px;
      font-size: 20px;
    }

    .el-tree-node {
      white-space: normal;
    }
    .el-tree-node__content {
      height: auto;
      border-bottom: 1px solid #eee;
    }
  </style>
</html>
